.tox/*
bin/*
.eggs/*
docs/_build/*
dist/*
build/*
*.whl
*.pyc
.idea/*
.*.swp
/_pycache_/
devenv
.coverage
.cache
*.egg-info
htmlcov
activate-dev
pip-selfcheck.json
results
.pytest_cache
.test-done
*_pb2.py
.protodeps
venv/
env/
menv/
